input {
  border: none;
  padding: 10px;
  width: 500px;
}

.editable {
  margin: 10px;
  padding: 10px;
}

.text {
  margin: 10px;
  padding: 10px;
}

.editor {
  margin: 10px;
  padding: 10px;
}
